// start global ruls
@use "media.scss";

$blue: #4285f4;
$white: #f2f5f6;
$black: #35363a;
$red: #f44242;
body {
  font-family: "Nunito", sans-serif;
  background-color: var(--white);
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  &::selection {
    color: $blue;
    background: $black;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  @media (min-width: 1199px) {
    max-width: 1100px;
  }
  @media (max-width: 1200px) {
    max-width: 1100px;
  }
  @media (max-width: 992px) {
    max-width: 950px;
  }
  @media (max-width: 768px) {
    max-width: 750px;
  }
  @media (max-width: 400px) {
    max-width: 375px;
  }
}
div.title {
  position: relative;
  margin: 70px auto 0;
  width: fit-content;
  border: 2px $black solid;
  border-radius: 20px;
  cursor: pointer;
  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 50%;
    z-index: -1;
    left: -30px;
    transform: translateY(-50%);
    background-color: $black;
    border-radius: 50%;
    transition: 0.5s;
  }
  &::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    z-index: -1;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    background-color: $black;
    border-radius: 50%;
    transition: 0.5s;
  }
  &:hover h2 {
    color: $white;
  }
  &:hover::before {
    width: 102%;
    height: 102%;
    left: 0;
    border-radius: 20px;
  }
  &:hover::after {
    width: 102%;
    height: 102%;
    right: 0;
    border-radius: 20px;
  }
  a {
    text-decoration: none;
    h2 {
      margin: 0;
      padding: 10px 35px;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 700;
      color: $black;
      transition: 00.5s;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes viper {
  0% {
    bottom: 2%;
  }
  10% {
    bottom: 0;
  }
  20% {
    bottom: 2%;
  }
  30% {
    bottom: 0%;
  }
  40% {
    bottom: 2%;
  }
  60% {
    bottom: 0%;
  }
  100% {
    bottom: 2%;
  }
}
// end global ruls

// start header
header {
  background-color: $white;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 65px;
    .logo {
      width: 60px;
      svg {
        cursor: pointer;
        path,
        circle {
          transition: 00.3s;
        }
        &:hover path {
          fill: $blue;
        }
        &:hover circle {
          fill: $blue;
        }
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 20px;
      list-style: none;
      padding-left: 0;
      a {
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        color: $black;
        cursor: pointer;
        padding: 10px 10px;
        transition: 00.3s;
        &::before {
          content: "";
          position: absolute;
          width: 0%;
          background-color: $black;
          height: 2px;
          bottom: 0;
          left: 50%;
          border-radius: 4px;
          transition: 0.3s;
        }
        &:hover::before {
          width: 100%;
          left: 0%;
          background-color: $blue;
        }
        &:hover {
          color: $blue;
        }
      }
    }
    .icon {
      width: 30px;
      height: 30px;
      display: none;
      cursor: pointer;
      &:hover path {
        fill: $blue;
      }
      path {
        fill: $black;
        transition: 0.3s;
      }
    }
  }
}

// end header

// start landing
.landing {
  position: relative;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 65px);
  background-image: url(/Images/stats.jpg);
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 65px);
    overflow: hidden;
    .gears {
      flex-basis: 50%;
      position: relative;
      height: 300px;
      min-width: 535px;
      transform: rotate(45deg);
      overflow: hidden;
      .ski {
        position: absolute;
        transform: rotate(-45deg);
        &.a {
          top: 25%;
          right: 15%;
          font-size: 30px;
          font-weight: 900;
          color: $black;
        }
        &.b {
          top: 50%;
          right: 58%;
          font-size: 30px;
          font-weight: 900;
          color: #35363a;
        }
        &.c {
          top: 8%;
          right: 82%;
          font-size: 30px;
          font-weight: 900;
          color: #35363a;
        }
      }
      .gear-1 {
        width: 100px;
        position: absolute;
        top: 0%;
        right: 0;
        width: 250px;
        animation-name: rotate;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      .gear-2 {
        position: absolute;
        bottom: 0%;
        right: 44%;
        width: 206px;
        animation-name: rotate;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: reverse;
      }
      .gear-3 {
        position: absolute;
        top: 0%;
        left: 12px;
        width: 140px;
        animation-name: rotate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
    .text {
      flex-basis: 50%;
      z-index: 0;
      .head {
        font-size: 75px;
        font-weight: 800;
        margin: 20px 0;
        color: $black;
        text-transform: uppercase;
      }
      .info {
        font-size: 35px;
        font-weight: 300;
        margin: 0;
        color: $black;
      }
    }
  }
  .down {
    width: 25px;
    position: absolute;
    bottom: 0;
    right: 50%;
    animation-name: viper;
    animation-duration: 1.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    svg {
      cursor: pointer;
      path {
        fill: $black;
        transition: 0.3s;
        cursor: pointer;
      }
      &:hover path {
        fill: $blue;
      }
    }
  }
}
// end landing

// start skills
.skills {
  margin: 70px 0;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    .skill {
      background-color: $white;
      padding: 15px;
      border-radius: 10px;
      position: relative;
      .icon {
        position: absolute;
        height: 70px;
        width: 70px;
        background-color: white;
        padding: 15px;
        border-radius: 50%;
        top: 0;
        right: 15px;
        transform: translateY(-40%);
        svg {
          path {
            transition: 0.2s;
          }
          &:hover .html {
            fill: #d84924;
          }
          &:hover .css {
            fill: #0066b6;
          }
          &:hover .js {
            fill: #cbb132;
          }
        }
      }
      .name {
        margin: 0%;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
      }
      .info {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
      }
      .more {
        background-color: $black;
        width: fit-content;
        padding: 8px 15px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 700;
        color: $blue;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: $blue;
          color: $black;
        }
      }
    }
  }
}
// end skills

// start portofolio
.portofolio {
  margin: 70px 0;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    .pro {
      border-radius: 25px;
      position: relative;
      overflow: hidden;
      .back {
        width: 100%;
        height: 100%;
      }
      &:hover {
        &::before {
          right: 0%;
        }
        .text .heir,
        .text .info,
        .text .source,
        .text .live {
          left: 0%;
        }
      }
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        right: 100%;
        background-color: #35363ad9;
        transition: 0.3s;
      }
      .text {
        position: absolute;
        text-align: center;
        top: 0%;
        padding: 15px;
        width: 100%;
        height: 100%;
        .heir {
          left: 105%;
          position: relative;
          color: $white;
          font-size: 30px;
          font-weight: 700;
          text-transform: capitalize;
          margin: 10px auto;
          transition: 0.3s;
        }
        .info {
          left: 105%;
          position: relative;
          color: $white;
          font-size: 20px;
          font-weight: 300;
          line-height: 1.6;
          margin: 50px 0;
          transition: 0.5s;
        }
        .source {
          left: 105%;
          position: relative;
          font-size: 20px;
          font-weight: 800;
          text-decoration: none;
          color: $white;
          padding: 10px 40px;
          border-radius: 5px;
          background-color: $blue;
          position: absolute;
          bottom: 160px;
          right: 50%;
          transform: translateX(50%);
          transition: 0.7s;
        }
        .live {
          left: 105%;
          position: relative;
          font-size: 20px;
          font-weight: 800;
          text-decoration: none;
          color: $white;
          padding: 10px 40px;
          border-radius: 5px;
          background-color: $red;
          position: absolute;
          bottom: 80px;
          right: 50%;
          transform: translateX(50%);
          transition: 0.9s;
        }
      }
    }
  }
}
// end portofolio

// start contact
.footer {
  background-color: $black;
  padding: 20px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p.copy {
      color: $white;
    }
    .media {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      a {
        path {
          transition: 00.3s;
          fill: $white;
        }
        &.facebook:hover path {
          fill: #1771e6;
        }
        &.instagram:hover path {
          fill: #f04c5d;
        }
        &.twitter:hover path {
          fill: #4ec1f2;
        }
        &.github:hover path {
          fill: black;
        }
        &.mail:hover path {
          fill: #eb4134;
        }
        svg {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}
// end contact

// start float
.float {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  transition: 00.3s;
  &::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #35363ad9;
  }
  .container {
    max-height: 100vh;
    overflow: auto;
    .text {
      .analizA {
        .proAnalizA {
          position: relative;
          overflow: hidden;
          &::after {
            position: absolute;
            content: "";
            font-size: 15px;
            color: $white;
            font-weight: 700;
            text-align: center;
            height: 100%;
            width: 0%;
            background-color: $blue;
          }
        }
      }
      .analizB {
        .proAnalizB {
          position: relative;
          overflow: hidden;
          &::after {
            position: absolute;
            content: "";
            font-size: 15px;
            color: $white;
            font-weight: 700;
            text-align: center;
            height: 100%;
            width: 0%;
            background-color: $blue;
          }
        }
      }
    }
  }
}

.display {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

// end float
